@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: rgb(231, 231, 245);
  font-family:'Open Sans', sans-serif;
}

.titulo {
  display: flex; 
  align-items: center;
  justify-content: center;
}

#logo {
  margin-left: 5px;
  width: 40px;
  height: 40px;
}

#pesquisa {
  text-align: center;
}

#users {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

#pesquisa button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#app {
  text-align: center;
}

#lista {
  list-style-type: none;
  padding-inline-start: 0px;
}

#lista a {
  margin-left: 4px;
}






